<h1>Eat the Burger!</h1>

<h2>These burgers need to be eaten!</h2>

<ul>
  {{#each burger}}
  {{#unless devoured}}
  {{> burger-block devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>These burgers are gone!</h2>

<ul>
  {{#each burger}}
  {{#if devoured}}
  {{> burger-block devoured=false}}
  {{/if}}
  {{/ each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="leBurger">Burger Name:</label>
    <input type="text" id="leBurger" name="name">
  </div>

  <button type="submit">ADD A BURGER!</button>
</form>